body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-item img {
    border: none !important; /* Quitamos el borde verde solo aquí para que se vea moderno */
    border-radius: 12px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #24381b; /* Usamos tu verde Continental para las flechas */
    border-radius: 50%;
    padding: 20px;
}